In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [58]:
df=pd.read_csv('spam.csv', encoding="ISO-8859-1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [60]:
df.describe

<bound method NDFrame.describe of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [61]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [62]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [63]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [65]:
df.rename(columns={'v1':'Target', 'v2':'Mails'}, inplace=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  5572 non-null   object
 1   Mails   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [67]:
df.duplicated().sum()

403

In [68]:
df=df.drop_duplicates(keep='first')
df.duplicated().sum()

0

In [69]:
df.Target.value_counts()

ham     4516
spam     653
Name: Target, dtype: int64

In [70]:
df.head()

  Target                                              Mails
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

## Label Encoding

In [71]:
df.replace({'Target': {'spam':0, 'ham':1}}, inplace=True)

In [72]:
df.head()

   Target                                              Mails
0       1  Go until jurong point, crazy.. Available only ...
1       1                      Ok lar... Joking wif u oni...
2       0  Free entry in 2 a wkly comp to win FA Cup fina...
3       1  U dun say so early hor... U c already then say...
4       1  Nah I don't think he goes to usf, he lives aro...

In [73]:
X=df['Mails']
Y=df['Target']

In [74]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: Mails, dtype: object

In [75]:
Y.head()

0    1
1    1
2    0
3    1
4    1
Name: Target, dtype: int64

In [76]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y, test_size=0.2, random_state=2)

In [77]:
Y_train.head()

4228    1
3061    1
3345    1
3463    1
2649    1
Name: Target, dtype: int64

In [80]:
Y_test.head()

2461    1
4673    1
4822    1
4174    1
5058    0
Name: Target, dtype: int64

In [78]:
X_train.head()

4228    Have you bookedthe hut? And also your time off...
3061                            Fine. Do you remember me.
3345    U're welcome... Caught u using broken english ...
3463                                             My phone
2649    You might want to pull out more just in case a...
Name: Mails, dtype: object

In [79]:
X_test.head()

2461                                      Anything lar...
4673                            I'm leaving my house now.
4822                                              :-) :-)
4174    How are you doing. How's the queen. Are you go...
5058    Free video camera phones with Half Price line ...
Name: Mails, dtype: object

## Feature Extraction

In [82]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [84]:
feature_extraction=TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

In [85]:
X_train_features=feature_extraction.fit_transform(X_train)

X_test_features=feature_extraction.transform(X_test)

In [86]:
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [87]:
X_train.head()

4228    Have you bookedthe hut? And also your time off...
3061                            Fine. Do you remember me.
3345    U're welcome... Caught u using broken english ...
3463                                             My phone
2649    You might want to pull out more just in case a...
Name: Mails, dtype: object

In [88]:
print(f"X_train_features : \n\n{X_train_features}")

X_train_features :

  (0, 7054)	0.36075839226747747
  (0, 6583)	0.30435292112105844
  (0, 3404)	0.6233869912877809
  (0, 1352)	0.6233869912877809
  (1, 5426)	0.7301484604418181
  (1, 2725)	0.6832885376723676
  (2, 2488)	0.4509976880080445
  (2, 1441)	0.4808473624278175
  (2, 6878)	0.44034387806428416
  (2, 1605)	0.4640368975654969
  (2, 7092)	0.3951631640306381
  (3, 4944)	1.0
  (4, 4150)	0.32645156438660716
  (4, 4369)	0.22978971322349848
  (4, 6429)	0.3382777846315093
  (4, 2179)	0.3172784353084517
  (4, 1874)	0.32645156438660716
  (4, 2312)	0.18946915146620047
  (4, 6086)	0.3172784353084517
  (4, 4990)	0.24795285907173
  (4, 1593)	0.27799865433665266
  (4, 3697)	0.31226581786242585
  (4, 5240)	0.3382777846315093
  (4, 7020)	0.17801162109347568
  (5, 6491)	0.43506510849684216
  :	:
  (4129, 5346)	0.44059536744272915
  (4129, 6626)	0.40660185401455845
  (4129, 4003)	0.37870257463202295
  (4130, 3317)	1.0
  (4131, 846)	0.6184251397568395
  (4131, 4024)	0.352267537771821
  (4131, 6460)	0.363953608168257
  (4131, 2821)	0.47265737512454514
  (4131, 6039)	0.3709322110448134
  (4132, 2815)	0.5546381738009473
  (4132, 6606)	0.403594446533445
  (4132, 3151)	0.7276592738982389
  (4133, 4024)	0.6332779948799099
  (4133, 4552)	0.3946980610958018
  (4133, 3932)	0.29019590921128247
  (4133, 6751)	0.42759795786442323
  (4133, 7042)	0.41966503604101624
  (4134, 1481)	0.4541209787959751
  (4134, 5774)	0.37875230469027
  (4134, 7312)	0.4433933881049106
  (4134, 6536)	0.2733272384462381
  (4134, 4387)	0.31982822447453385
  (4134, 7204)	0.3618254224461281
  (4134, 2104)	0.2551871410598932
  (4134, 3267)	0.2840548291373026

## Training Model

In [89]:
Model = LogisticRegression()

In [90]:
Model.fit(X_train_features, Y_train)

LogisticRegression()

## Model Evaluation

In [91]:
Training_data_Model_prediction= Model.predict(X_train_features)
Training_data_Model_prediction

array([1, 1, 1, ..., 1, 1, 1])

In [92]:
acc_score_for_training_data= accuracy_score(Y_train, Training_data_Model_prediction)
print("Accuracy on training data :", round(acc_score_for_training_data*100, 2))

Accuracy on training data : 96.2

In [93]:
Testing_data_Model_prediction=Model.predict(X_test_features)
Testing_data_Model_prediction

array([1, 1, 1, ..., 1, 1, 1])

In [94]:
acc_score_for_testing_data=accuracy_score(Y_test, Testing_data_Model_prediction)
print("Accuracy on training data :", round(acc_score_for_testing_data*100,2))

Accuracy on training data : 96.03

## Predictive System

In [104]:
input_mail = ['This is the input predictive system just used to testing the data']

In [105]:
input_mail_features=feature_extraction.transform(input_mail)

prediction=Model.predict(input_mail_features)
print(prediction)
if prediction == 1:
    print("This is TEST MAIL")
else:
    print("This is SPAM MAIL")

[1]
This is TEST MAIL

In [106]:
input_mail=['World Cup is happening in india and fans has soo excited as world cup is happening in india after 13 years ']

In [108]:
input_mail_features=feature_extraction.transform(input_mail)

prediction=Model.predict(input_mail_features)
print(prediction)
if prediction ==[0]:
    print("This is TEST MAIL")
else:
    print("This is SPAM MAIL")

[1]
This is SPAM MAIL